*~
*.a
aclocal.m4
autom4te.cache/
*.bak
callgrind.out.*
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
configure.in
core.*
depcomp
.deps
.dirstamp
*.dylib
*.gcda
*.gcno
*.gcov
INSTALL
install-sh
*_lexer.cpp
*_lexer.h*
*.lib
*.log
ltmain.sh
Makefile
Makefile.in
missing
*.o
*.obj
*.os
*_parser.cpp
*_parser.h*
*.patch
*.pyc
s9s/s9s
.scon*
*.so
stamp-h1
*.swo
*.swp
tags
tests/ut_library/ut_library
tests/ut_s9sstring/ut_s9sstring
tests/ut_s9svariant/ut_s9svariant
tests/ut_s9svariantmap/ut_s9svariantmap
tests/ut_s9soptions/ut_s9soptions
y.tab.c
